{% extends "_layouts/base.html" %}
{% block title %}
Index | {{ super() }}
{% endblock %}
{% block content %}
<div class="container Cuarta ">
  <div class="row navbar Quinta rounded border border-dark">
    <div class="col-md-8"><h3 class="Letter">Leyenda</h3></div>
    <div class="col-md-4">
      <form class="navbar-form navbar-right row" name="busqueda" method="POST" action="">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="busqueda" aria-describedby="basic-addon1">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-dark">Buscar</button>
          </div>
      </form>
    </div>
  </div>
  <div class="row navbar rounded border border-dark">
    <div class="col-4 Letter badge badge-dark">
      <h2>Lista Objetos</h2>
    </div>
    <div class="col-3 btn btn-block center-block">
      <div class="col-2">
        <a href="{{ url_for('newobject') }}"><button id="nuevaReceta" class="btn btn-dark" type="submit" name="nuevaReceta">Nuevo Objeto</button>
        </a>
      </div>
    </div>
  </div>
  <div class="Margen-alrededor1" data-spy="scroll" data-target="#list-example" data-offset="0">
    {% for objeto in objetos %}
    <div class=" Sexta Margen-alrededor d-flex flex-row">
      <div class="p-2 border border-dark col-7"><a class=" Sexta list-group-item " href="{{ url_for('objdetails', name=objeto.nombre, pk=objeto.id) }}">{{objeto.nombre}} </a></div>
      <div class="Max p-2 border border-dark col-2" >Max: {{objeto.maximo}}</div>
      <div class="Min p-2 border border-dark col-2">Min: {{objeto.minimo}}</div>
      <div class="p-2 border border-dark col-1">
        <a href="{{ url_for('delobject', pk=objeto.id) }}"><button id="deleteObj" class="btn btn-danger" type="submit" name="borrarObjeto"> <span>X</span></button>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="Margen-alrededor1">
    <h5>.</h5>
  </div>
</div>
{% endblock %}
