{% extends "_layouts/base.html" %}

{% block title %}
{{NuevoObjeto}} | {{ super() }}
{% endblock %}

{% block content %}
<div class="Cuarta container">
  <div class="row">
    <div class="col-md-6 container-fluid">
      <div class="Septima jumbotron ">
        <h4 class="panel-heading border border-dark">{{objeto.nombre}}</h4>
          <div class="container-fluid">
            <form class="form " method="post" action= "{{ url_for('editobject', pk=objeto.id) }}">
              <div>
                <div class="form-group">
                  <span class="Medio">Nombre:  </span>{{ newobjForm.nombre(class="form-control", value=objeto.nombre, placeholder="nombre", type=text) }}
                </div>
                <div class="form-group">
                  <span class="Max  ">Maximo:  </span>{{ newobjForm.maximo(class="form-control", value=precio.maximo, placeholder="precio maximo", type=text) }}
                </div>
                <div class="form-group">
                  <span class="Min  ">Minimo:  </span>{{ newobjForm.minimo(class="form-control", value=precio.minimo, placeholder="precio minimo", type=text) }}
                </div>
                <div class="form-group">
                  <span class="Medio">Precio1:  </span>{{ newobjForm.precio1(class="form-control", value=precio.precio1, placeholder="precio", type=text) }}
                </div>
                <div class="form-group">
                  <span class="Medio">Precio2:  </span>{{ newobjForm.precio2(class="form-control", value=precio.precio2, placeholder="precio", type=text) }}
                </div>
                <div class="form-group">
                  <span class="Medio">Precio3:  </span>{{ newobjForm.precio3(class="form-control", value=precio.precio3, placeholder="precio", type=text) }}
                </div>
                <div class="form-group">
                  <span class="Medio">Precio4:  </span>{{ newobjForm.precio4(class="form-control", value=precio.precio4, placeholder="precio", type=text) }}
                </div>
              </div>
              <div class="row btn btn-block center-block">
                <div class="col-3">
                  <button id="actualizaObj" class="btn btn-dark" type="submit" name="actualizaObj">Actualizar</button>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
