{% extends "_layouts/base.html" %}

{% block title %}
{{receta.id}} | {{ super() }}
{% endblock %}


{% block content %}

<div class="Cuarta container">
  <div class="row">

    <div class="col-12">
      <div class="Septima jumbotron">
        <div class="row">
          <h3 class="col-6 border border-dark">Ingredientes</h3>


        </div>
        <form named="recetas" action="{{ url_for('recetacompra', pk=receta.id) }}" method="POST">
          <div class="row">
            <h6 class="col-6 panel-heading border border-dark">Nombre</h6>
            <h6 class="col-3 panel-heading border border-dark">cantidad</h6>
            <h6 class="col-3 panel-heading border border-dark">comprar</h6>
          </div>
          <div class="row">
            {% for objeto in objetos %}
            <h6 class="col-6 panel-heading border border-dark"> <a href="{{ url_for('objdetails',  name = objeto.nombre, pk=objeto.id) }}">{{objeto.nombre}}</a> </h6>
            <h6 class="col-3 panel-heading border border-dark">{{objeto.cantidad}}</h6>
            <h6 class="col-3 panel-heading border border-dark">
            <div class=" form-group">

                  <input name="{{ objeto.id }}" type="checkbox" >
            </div>
            </h6>
            {% endfor %}
          </div>

          <div class="row btn btn-block center-block">
            <div class="col-2">
                <button id="calcular" class="btn btn-dark" type="submit" name="calcular">Calcular</button>
            </div>

          </div>
        </form>

      </div>
    </div>


  </div>
  {% if listaDlistaPrecioGanancia %}
    <div class="row">
      <div class="col-12">
        <div class="Septima jumbotron">
          <div class="row">
            <h3 class="col-6 border border-dark">Resultados</h3>
          </div>


          <div class="row">
            <h1>{{ listaDlistaPrecioGanancia[0][0] }} </h1>
          </div>

        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
